<div style="float:left;margin-left: 350px; margin-bottom: 400px">
        <div >

            <!-- category nav -->

            <div class="category-nav" >
                <i class="fa fa-list"></i><span class="category-header">  Kullanıcı İşlem Menüsü </span>
                <ul class="category-list">
                    <li><a href="{{ path('userpanel_show') }}"><span class="glyphicon-chevron-right"></span> Bilgilerim </a> </li>
                    <li><a href="{{ path('shopcart_index') }}"><span class="glyphicon-chevron-right"></span> Siparişlerim </a> </li>
                    <li><a href="{{ path('shopcart_index') }}"><span class="glyphicon-chevron-right"></span> Sepetim </a> </li>
                    <li><a href="{{ path('orders_index') }}"><span class="glyphicon-chevron-right"></span> Sipariş Geçmişi </a> </li>
                    <li><a href="{{ path('app_logout') }}"><span class="glyphicon-chevron-right"></span> Çıkış</a> </li>
                </ul>
            </div>
            <!-- /category nav -->

            <!-- menu nav -->

            <!-- menu nav -->
        </div>
</div>